@import-normalize;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

body,
html,
#app,
#root {
  height: 100%;
}

html {
  font-size: max(1.35vw, 1.15rem);
}

body {
  cursor: url(./assets/cursors/cursor-normal.cur), auto;
  overflow: hidden;
}

button {
  background: transparent;
  border: 0;
  color: white;
}

button:hover,
a:hover {
  cursor: url(./assets/cursors/cursor-clickable.cur), auto;
}

ul {
  list-style-type: none;
}
