@import-normalize;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  cursor: url(./assets/cursors/cursor-normal.cur), auto;
  overflow: hidden;
}

button {
  background: transparent;
  border: 0;
  color: white;
}

button:hover,
a:hover {
  cursor: url(./assets/cursors/cursor-clickable.cur), auto;
}
