@import-normalize;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

body,
html,
#app,
#root {
  height: 100%;
}

html {
  font-size: max(1.35vw, 1.15rem);
}

body {
  cursor: url(./assets/cursors/normal.cur), auto;
  overflow: hidden;
}
